nav {
    background: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', 'sans-serif';
    z-index: 1;
}

.nav-title a {
    margin-left: 10px;
    text-decoration: none;
}

.nav-menu {
    display: inline-block;
}

.nav-item {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
}

.nav-item:hover, .nav-title a:hover {
    text-decoration: underline;
}

.nav-item:visited, .nav-title a:visited {
    color: inherit;
}