.dashboard-container {
    /*min-height: 85vh*/
    /*width: 85%;*/
    position: relative;
    margin: 0 auto;
    font-family: 'Poppins', 'sans-serif';
    width: 100%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 30px;
    /*height: 80vh;*/
    /*padding: 20px;*/
  }

  .add-button-container{
    margin-top: 20px;
    margin-bottom: 100px;
  }

  button {
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Poppins', 'sans-serif';
  }
  
  button:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
  }

.dashboard-bottom {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-top: 140px;

}  

.red {
  color: red;
}

@media only screen and (min-width: 768px){
  .add-button-container{
    margin-top: -20px;
    text-align: right;
  }

  .map-container {
    position: relative;
    width: 100%;
    height: 500px;
    /*height: 80vh;*/
    /*padding: 20px;*/
  }
}
