header {
  padding: 40px 0px;
}

.destination-cover-photo-container {
  overflow: hidden;
  position: relative;
  height: 70vh;
}

img.destination-cover-photo {
  opacity: 0.4;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 50% 80%;
}

.add-todo-bar-wrapper{
  position: absolute;
  width: 100%;
  top: 10em;
}

h1 {
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
}

input.add-tobo-bar  {
  margin: 0 auto;
  width: 60%;
  max-width: 500px;
  display: inline-block;
  font-size: 16px;
  padding: 8px;
  padding-left: 20px;
  border-radius: 25px;
  border: 1px solid darkgrey;
  font-family: 'Poppins', 'sans-serif';
}

.add-todo-btn {
  padding: 8px;
  display: inline-block;
  margin-left: -30px;
  width: 100px;
  font-size: 16px;
  border: 1px solid grey;
  background-color: grey;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.add-todo-btn:hover {
  cursor: pointer;
  background-color: rosybrown;
  border: 1px solid rosybrown;
  color: white;
}


.todo-list {
  width: 90%;
  margin: 3em auto 0 auto;
  text-align: left;
}

.action-button{
  margin-top: 80px;
}

.message {
  font-family: 'Poppins', 'sans-serif';
  text-align: center;
  font-size: 18px;
}

.message span {
  color: rosybrown;
  font-weight: 800;
  font-size: 24px;
  text-decoration: underline;
}

button.remove-message {
  border: none;
  border-radius: 0px;
}

button.remove-message:hover{
  text-decoration: underline;
}

.remove-message {
  font-family: 'Poppins', 'sans-serif';
  color: white;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 0px;
  padding-left: 15px;
  background-color: rosybrown;
  width: 300px;
  position: relative;
}

.remove-message:before, .remove-message:after {
  position: absolute;
  left: 15px;
  top: 7px;
  content: '';
  height: 15px;
  width: 1px;
  background-color: white;
}

.remove-message:before{
  transform: rotate(40deg);
}

.remove-message:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 280px){
  .add-todo-bar-wrapper{
    position: absolute;
    width: 100%;
    top: 5em;
    padding: 10px;
  }

  button.remove-message {
    border: none;
    border-radius: 0px;
    max-width: 200px;
  }

  header {
    padding-bottom: 10px;
  }

  input.add-tobo-bar  {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-size: 16px;
    padding: 8px;
    padding-left: 20px;
    border-radius: 25px;
    border: 1px solid darkgrey;
    font-family: 'Poppins', 'sans-serif';
  }

  .add-todo-btn {
    margin: 0 auto;
    width: 80%;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
    padding-left: 20px;
    border-radius: 25px;
  }

}


@media only screen and (max-width: 320px){
  .destination-cover-photo-container {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}


@media only screen and (min-width: 375px){
  .destination-cover-photo-container {
    overflow: hidden;
    position: relative;
    height: 60vh;
  }
}

@media only screen and (min-width: 450px){
  .destination-cover-photo-container {
    overflow: hidden;
    position: relative;
    height: 80vh;
  }
}


@media only screen and (min-width: 768px){
  .destination-cover-photo-container {
    overflow: hidden;
    position: relative;
    max-height: 70vh;
    padding: 20px;
  }
}





