.embedded-map{
    width: 100%;
    position: relative;
}

.map-container > div{
    position: relative;
    width: 85%;
    margin: 0 auto;
    height: 300px;
}


@media only screen and (min-width: 768px){
    .map-container > div{
        height: 500px
    }    
}
